
/*ACROSS ALL PAGES*/

:root {
  --aristo-red: #c1272dff;
  --aristo-dark-yellow: #fbe492ff;
  --aristo-pale-yellow:#fff9e1ff;
}

*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
  margin:20px 0px;
}

body{
  margin: 5vh 4vw;
}

#menuIcon{
  font-size: clamp(5vw,5vw,12vw);
}

btn:hover{
  cursor: pointer;
  color:var(--aristo-red);
}

#logo{
  height:clamp(5vw,6vw,12vw);
}

click-spark{
  --click-spark-color: var(--aristo-red);
}

/*LANDING PAGE ONLY*/ 

/* WRITING STYLE */

.scrollContainer{
  overflow:hidden;
  max-width: 100%;
  white-space: nowrap;
  display:inline-block;
  opacity:0%;
  cursor:default;
}

#penBoundingBox{
  display:inline-block;
  position:absolute;
  z-index: 101;
  width:400px;
  height:40px;
  background:rgba(171, 12, 12, 0);
  right:5vw;
  top:280px;
  transform:rotate(-60deg);

  /* is not responsive at all!! */
}


#penBoundingBox:hover ~ #penImg{
  animation:bounce 2s ease-in-out infinite;
}

#penBoundingBox:hover ~ #camImg{
  transition: opacity 0.1s;
  opacity:0%;
}

@keyframes bounce {
  0%{
    transform:translateY(0)
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform:translateY(0px);
  }
  
}

#penBoundingBox:hover ~ .scrollContainer{
  transition: opacity 0.1s;
  opacity:100%;
}

#penBoundingBox:not(:hover) ~ .scrollContainer{
  transition: opacity 0.2s;
  opacity:0%;
}

#marquee1, #marquee3{
  animation: leftScroll 20s linear infinite;
  font-family: "Lexend",sans-serif;

}

#marquee2, #marquee4{
  animation:rightScroll 10s linear infinite;
  font-family: "geller-headline", serif;
}

.marquee{
  height:14vh;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-size: 1rem;

}

.marquee h2{
  margin: 30px 0px;
  margin:none;
  font-size: clamp(1rem,2rem,2rem);
  font-weight:none;
}

@keyframes leftScroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

@keyframes rightScroll {
  0%{
    transform: translateX(-30%);
  }
  100%{
    transform: translateX(0%);
  }
}

#penImg{
  width:50vh;
  display:inline-block;
  position:absolute;
  z-index: 100;
  filter: drop-shadow(1.2rem 1rem 9px rgba(0, 0, 0, 0.5));
  right:10vw;
  top:17vh;
}

.writing{
  color:var(--aristo-red);
}

/* FILM STYLE */

#camImg{
  width:100vh;
  position:absolute;
  z-index: 100;
  filter: drop-shadow(1.2rem 1rem 9px rgba(0, 0, 0, 0.5));
  display:inline-block;
  top:25vh;
  left:10vw;
}

#filmContainer{
  display:flex;
  overflow:hidden;
  align-items: center;
  animation:rightScroll 5s linear infinite;
}

.photo{
  object-fit: cover;
  object-position: 15% 30%;
  --s: 9px; /* control the size */
 
  width: calc(20*var(--s));
  aspect-ratio: 1.2;
  background: 
    conic-gradient(at 50% var(--s),#000000 75%,#0000 0) 
    0 0/calc(2*var(--s)) calc(100% - var(--s)) padding-box;
  border: 10px solid #000000;
  padding: calc(var(--s) * 2) calc(var(--s) * 0);
  margin-right: calc(-2*var(--s));
}

#strip1{
  overflow:hidden;
  
}





