
/*ACROSS ALL PAGES*/

*{
  box-sizing: border-box;
}

header{
  display: flex;
  justify-content: space-between;
}

body{
  margin: 5vh 10vh;
}

#menuIcon{
  font-size: clamp(5vw,5vw,12vw);
}

btn:hover{
  cursor: pointer;
  color:red;
}

#logo{
  height:clamp(5vw,6vw,12vw);
}

/*LANDING PAGE ONLY*/ 

#scrollContainer{
  overflow:hidden;
  max-width: 100%;
  white-space: nowrap;
}

.marquee{
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-size: 1rem;
  animation: leftScroll 20s linear infinite;
}

.marquee p {
  display: inline-block;
}

@keyframes leftScroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}


