<div id="navBar" class="sideNav">
    <div id="navContent">
        <btn class="material-symbols-outlined" id="navBarClose" onclick="closeNav()">
            close
        </btn>
        <h1>MEDIA</h1>
        <a href="otherMediaHome.html">FILMS</a>
        <a href="mediaPhotography.html">PHOTOS</a>

        <button
            class="sidebar-accordion-toggle"
            type="button"
            aria-expanded="false"
            aria-controls="sidebar-btec-submenu"
        >
            <span>BTEC L2</span>
            <span class="material-symbols-outlined" aria-hidden="true">expand_more</span>
        </button>

        <div id="sidebar-btec-submenu" class="sidebar-submenu" hidden>
            <a href="btecHome.html">Overview</a>
            <a href="Unit 1.html">Unit 1</a>
            <a href="Unit 4.html">Unit 4</a>
        </div>

        <h1 id="writingSidebar">WRITING</h1>
        <a href="https://medium.com/@RachellAristo" target="_blank">Blog</a>
    </div>
</div>
