$aristoRed: #c1272dff;
$aristoYellow:#fbe492ff;
$aristoBeige: #fff9e1ff;
$aristoBlack: rgb(0, 0, 0);

*{
  box-sizing: border-box;
}
html {
  scrollbar-gutter: stable; /* Fixes the layout shifting issue when sidebar opens*/
}
body{
  margin: 5vh 4vw;
}


@import "./preloader";
@import"./header";
@import "./footer";
@import "./photoGallery";

click-spark{
  --click-spark-color: #{$aristoRed};
}

h1{
  font-family:"League Spartan", sans-serif;
  font-weight: 800;
  font-size: clamp(24px, 5vw, 48px);
}

h2{
  font-family:"League Spartan", sans-serif;
  font-weight: 600;
  font-size: clamp(20px, 4vw, 36px);
}

h3{
  font-family:"League Spartan", sans-serif;
  font-weight: 500;
  font-size: clamp(18px, 3vw, 24px);
}

p {
  font-family:"League Spartan", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.4;
}

